# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
#conda install -c conda-forge gmaps

In [12]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [13]:
csv_path = "../output_data/cities.csv"
cities_df = pd.read_csv(csv_path, encoding="utf-8")
cities_df.head()

,Unnamed: 0,City,Latitude,Longitude,Temperature(F),Humidity(%),Cloudiness(%),Wind Speed(mph)
0,0,rocha,-34.4833,-54.3333,57.96,95,79,6.55
1,1,strezhevoy,60.7333,77.5889,35.73,98,100,7.52
2,2,salalah,17.0151,54.0924,80.69,74,20,2.30
3,3,ushuaia,-54.8000,-68.3000,44.26,70,20,2.30
4,4,punta arenas,-53.1500,-70.9167,41.11,81,75,10.36

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [14]:
gmaps.configure(api_key=g_key)

In [15]:
locations = list(zip(cities_df['Latitude'], cities_df['Longitude']))
humidity = cities_df["Humidity(%)"]

In [37]:
fig = gmaps.figure(map_type="TERRAIN", center=(40,-50), zoom_level=2)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300,
                                 point_radius=4)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [38]:
narrowed_cities_df = cities_df.loc[(cities_df["Temperature(F)"] < 80) & (cities_df["Temperature(F)"] > 70) \
                                    & (cities_df["Wind Speed(mph)"] < 10) \
                                    & (cities_df["Cloudiness(%)"] == 0)].dropna()
narrowed_cities_df

,Unnamed: 0,City,Latitude,Longitude,Temperature(F),Humidity(%),Cloudiness(%),Wind Speed(mph)
153,153,arraial do cabo,-22.9661,-42.0278,71.89,82,0,3.11
292,292,panaba,21.2833,-88.2667,72.97,84,0,7.96
320,320,leshan,29.5623,103.7639,74.95,45,0,3.49
342,342,khash,28.2211,61.2158,70.38,19,0,4.88
421,421,mandurah,-32.5500,115.7000,75.90,47,0,7.38
454,454,zaranj,30.9667,61.8833,73.36,17,0,2.75
456,456,vao,-22.6667,167.4833,76.14,68,0,7.92

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [39]:
hotel_df = narrowed_cities_df[["City", "Latitude", "Longitude"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df

                City  Latitude  Longitude Hotel Name
153  arraial do cabo  -22.9661   -42.0278
292           panaba   21.2833   -88.2667
320           leshan   29.5623   103.7639
342            khash   28.2211    61.2158
421         mandurah  -32.5500   115.7000
454           zaranj   30.9667    61.8833
456              vao  -22.6667   167.4833

In [40]:
# Set parameters to search for a hotel
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key
}

# Iterate through 
for index, row in hotel_df.iterrows():
    # get lat, lng from df
    lat = row["Latitude"]
    lng = row["Longitude"]
    
    params["location"] = f"{lat},{lng}"
    
    # Use the search term: "Hotel" and our lat/lng
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # make request and print url
    name_address = requests.get(base_url, params=params)
    
    # convert to json
    name_address = name_address.json()
    
    # Grab the first hotel from the results and store the name
    try:
        hotel_df.loc[index, "Hotel Name"] = name_address["results"][0]["name"]
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")

hotel_df

,City,Latitude,Longitude,Hotel Name
153,arraial do cabo,-22.9661,-42.0278,Pousada Porto Praia
292,panaba,21.2833,-88.2667,Hotel California
320,leshan,29.5623,103.7639,Leshan Haiyun International Youth Hostel
342,khash,28.2211,61.2158,خوابگاه آبجی محدثه
421,mandurah,-32.5500,115.7000,Atrium Hotel Mandurah
454,zaranj,30.9667,61.8833,کارگاه بلوک زنی سرهنگ
456,vao,-22.6667,167.4833,Hotel Kou-Bugny

In [41]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Latitude", "Longitude"]]

In [42]:
# Add marker layer ontop of heat map
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# Display figure
fig

Figure(layout=FigureLayout(height='420px'))